@model KotletkaShop.Models.Collection

@{
    ViewData["Title"] = Model.Title;
}

<h4>@Html.DisplayFor(model => model.Title)</h4>

<div class="admin-card">
    <div class="collection-details-panel">
        <p>@Html.DisplayFor(model => model.Title)</p>
        <p>@Html.DisplayFor(model => model.Handle)</p>
        <p>@Html.DisplayFor(model => model.Body)</p>
    </div>
</div>

<div class="admin-card">
    <div class="collection-conditions-panel">
        @foreach (string condition in Model.ScreenConditions)
        {
            <p>@condition</p>
        }
    </div>
</div>

<div class="admin-card">
    <div class="collection-products-panel">
        <p>Товары в коллеции должны отвечать всем условиям: @Html.DisplayFor(model => model.MatchAllConditions)</p> @*LOCALIZE*@
        @foreach (Product product in Model.Products)
        {
            <p>@product.Title</p>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a> @*LOCALIZE*@
    <a asp-action="Edit" asp-route-id="@Model.CollectionID">Редактировать</a> @*LOCALIZE*@
    <a asp-action="Delete" asp-route-id="@Model.CollectionID">Удалить</a>@*LOCALIZE*@
</div>
