@model IEnumerable<KotletkaShop.Models.Collection>
@{
    ViewData["Title"] = "Коллекции"; @*LOCALIZE*@
}

<h2>Коллекции</h2> @*LOCALIZE*@

<p>
    <a asp-action="Create">Создать новую</a> @*LOCALIZE*@
</p>

<div class="admin-card">
    <div class="table">
        @foreach (Collection collection in Model)
        {
            <a class="row" asp-area="Admin" asp-controller="Collections" asp-action="Details" asp-route-id="@collection.CollectionID">
                <div class="cell">
                    <img src="@collection.Image.Path" alt="@collection.Image.AltText" class="admin-thumbnaill" />
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => collection.Title)
                </div>
                <div class="cell">
                    @foreach (string condition in collection.ScreenConditions)
                    {
                        <p>@condition</p>
                    }
                </div>
            </a>
        }
    </div>
</div>