@model IEnumerable<KotletkaShop.Models.Order>
@{
    ViewData["Title"] = "Список заказов"; // Localize
}

<h2>Заказы</h2> @*Localize*@

<p>
    <a asp-action="Create">Создать новый заказ</a> @*Localize*@
</p>

<div class="admin-card">
    <div class="table">
        <div class="row">
            <a class="cell" asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">ID</a> @*LOCALIZE*@
            <a class="cell" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Дата</a> @*LOCALIZE*@
            <a class="cell" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Имя</a> @*LOCALIZE*@
            <a class="cell" asp-action="Index" asp-route-sortOrder="@ViewData["PaidSortParm"]">Оплачен</a> @*LOCALIZE*@
            <a class="cell" asp-action="Index" asp-route-sortOrder="@ViewData["FulfilledSortParm"]">Исполнен</a> @*LOCALIZE*@
            <p class="cell"></p> @*LOCALIZE*@
        </div>
        @foreach (Order order in Model)
        {
            <a class="row" asp-action="Details" asp-route-id="@order.OrderID">
                <div class="cell">
                    @Html.DisplayFor(modelItem => order.OrderID)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => order.DateCreated)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => order.Customer.ScreenName)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => order.Paid)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => order.Fulfilled)
                </div>
                <div class="cell">
                    @Html.DisplayFor(modelItem => order.TotalCost)
                </div>
            </a>
        }
    </div>
</div>
