@model KotletkaShop.Models.Collection

@{
    ViewData["Title"] = Model.Title;
}

<h4>@Html.DisplayFor(model => model.Title)</h4>

<div class="admin-card">
    <div class="collection-details-panel">
        <p>@Html.DisplayFor(model => model.Title)</p>
        <p>@Html.DisplayFor(model => model.Body)</p>
    </div>
</div>

<div class="admin-card">
    <div class="collection-products-panel">
        @foreach (Product product in Model.Products)
        {
            if (DateTime.Now >= product.VisibleFrom && DateTime.Now <= product.VisibleUntil
            || product.VisibleFrom == DateTime.Parse("0001-01-01") && product.VisibleUntil == DateTime.Parse("0001-01-01")
            || DateTime.Now >= product.VisibleFrom && product.VisibleUntil == DateTime.Parse("0001-01-01"))
            {
                <a class="row" asp-controller="Product" asp-action="Product" asp-route-id="@product.ProductID">
                    <img src="@product.DefaultProductImage.Image.Path" alt="@product.DefaultProductImage.Image.AltText" class="admin-thumbnail" />
                    <p>@product.Title</p>
                    <p>@product.Price р.</p> @*LOCALIZE*@
                </a>
            }
        }
        </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>
